footer {
  background-color: aquamarine;
  width: 100%;
  margin: auto;
  padding: 1.5em;
  .content {
    text-align: center;
    font-size: 1em;
    p {
      margin-bottom: .7em;
      &.author {
        font-size: .8em;
      }
    }
  }
}