<footer>
  <div style="height: 1rem;"></div>
  <div class="hr"></div>
  <div style="height: 2rem;"></div>
  <div class="content">
    <p>Powered with ❤️ by IW-FCV2023 committee</p>
    <p><a href="mail:iwfcv2023@gmail.com">iwfcv2023@gmail.com</a></p>
    <p class="author">Designed by &copy; 2022 <a href="https://github.com/shapelayer" target="_blank">shapelayer</a></p>
  </div>
  <div class="content">
    <p><b>Sponsers</b></p>
    <div class="sponsers">{%- include sponsers.html type="flex" -%}</div>
  </div>
</footer>