<header>
  <div style="height: 4rem;"></div>
  <div class="header_top_logo">
    <!--<a href="{{ "/" | relative_url }}"><span class="header_top_logo__iwfcv">IWFCV</span> <span class="header_top_logo__year">2023</span></a>-->
  </div>
  <div style="height: 1rem;"></div>
  <div class="header_nav_wrapper">
    <nav class="header_nav">
      <a class="header_nav__link" href="{{ "/" | relative_url }}">Home</a>
      <a class="header_nav__link" href="{{ "/submission" | relative_url }}">Submission</a>
      <a class="header_nav__link" href="{{ "/program" | relative_url }}">Program</a>
      <a class="header_nav__link" href="{{ "/registration" | relative_url }}">Registration</a>
      <a class="header_nav__link" href="{{ "/attend" | relative_url }}">Attend</a>
      <a class="header_nav__link" href="{{ "/awards" | relative_url }}">Awards</a>
      <a class="header_nav__link" href="{{ "/news" | relative_url }}">News</a>
    </nav>
  </div>
  <div style="height: 1rem;"></div>
  <div class="hr"></div>
  <div style="height: 1rem;"></div>
</header>